Hardware Requirements:

1.	Fluently working Laptops
2.	Processor: Intel CORE i3 processor with minimum 2.9 GHz speed.
3.	RAM: Minimum 4 GB.
4.	Hard Disk: Minimum 500 GB


Software Requirements:

1.	Jupyter Notebook
2.	Google Colab
3.	Python programming language (version 3.7 or 3.8)
4.	SKlearn
5.	Streamlit
6.	Microsoft Word 2003
7.	Operating System: Windows10 or above.

